# packaging
pip>=23.3
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
fastapi
uvicorn

# utilities
six>=1.14
joblib
memoized-property
termcolor
#tensorflow
tensorflow==2.15.0
setuptools
streamlit
keras
python-multipart
streamlit-option-menu
